@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title>取回密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" type="text/css" href="/content/css/login.css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
     
    <div class="login-wrapper">
        <div class="box">
            <div class="panel panel-default main-container">
                <div class="panel-heading">取回密码</div>
                <div class="panel-body">
                    <form role="form" method="post">
                        <div class="form-group">
                            <label class="form-label" for="exampleInputPassword1">邮箱地址</label>
                            <input type="email" class="form-control" name="email" placeholder="example@mail.com" />
                            <p class="help-block">请输入注册时使用的邮箱地址。</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-glow primary password" id="button">
                                <span>取回密码</span>
                            </button>
                            <a href="/login" class="return">返回</a>
                        </div>
                    </form>
                </div>
            </div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">

                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-circle"></i>
                            @ViewBag.ErrorMessage
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="no-account">

            <p style="table-layout: fixed; word-break: break-all; overflow: hidden;"> <small>@Html.Raw(Mor.Common.UserEnvironment.ApplicationCopyright)</small></p>
        </div>
    </div>
</body>
</html>