.wb-zc-lxmod-2017-hzyq-index-about {
    font-family:Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,tahoma,arial;
    width:100%;
    background-color:#010417;
    border-top:1px solid #3c3c3c;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about a,.wb-zc-lxmod-2017-hzyq-index-about b,.wb-zc-lxmod-2017-hzyq-index-about dd,.wb-zc-lxmod-2017-hzyq-index-about div,.wb-zc-lxmod-2017-hzyq-index-about dl,.wb-zc-lxmod-2017-hzyq-index-about dt,.wb-zc-lxmod-2017-hzyq-index-about em,.wb-zc-lxmod-2017-hzyq-index-about h1,.wb-zc-lxmod-2017-hzyq-index-about h2,.wb-zc-lxmod-2017-hzyq-index-about h3,.wb-zc-lxmod-2017-hzyq-index-about h4,.wb-zc-lxmod-2017-hzyq-index-about h5,.wb-zc-lxmod-2017-hzyq-index-about h6,.wb-zc-lxmod-2017-hzyq-index-about i,.wb-zc-lxmod-2017-hzyq-index-about li,.wb-zc-lxmod-2017-hzyq-index-about p,.wb-zc-lxmod-2017-hzyq-index-about span,.wb-zc-lxmod-2017-hzyq-index-about ul {
    margin:0;
    padding:0
}
.wb-zc-lxmod-2017-hzyq-index-about a {
    text-decoration:none
}
.wb-zc-lxmod-2017-hzyq-index-about li,.wb-zc-lxmod-2017-hzyq-index-about ul {
    list-style:none
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap {
    width:90%;
    padding:50px 0 20px;
    margin:0 auto;
    *zoom:1
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap:after,.wb-zc-lxmod-2017-hzyq-index-about .module-wrap:before {
    content:"";
    display:table
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap:after {
    clear:both
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .info {
    float:left;
    display:inline-block;
    margin-bottom:30px;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .info h3 {
    height:30px;
    line-height:30px;
    font-size:18px;
    color:#e6e7d9;
    font-weight:700;
    padding-right:30px;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .info p {
    line-height:24px;
    font-size:12px;
    color:#999;
    padding-right:30px;
    margin-top:8px;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download {
    float:left;
    display:inline-block;
    margin-bottom:30px;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download img {
    float:left;
    display:inline-block;
    width:94px;
    height:94px
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download .text {
    float:left;
    display:inline-block;
    margin-left:12px;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download .text h3 {
    height:24px;
    line-height:24px;
    font-size:18px;
    color:#e6e7d9;
    font-weight:700;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download .text p {
    line-height:24px;
    font-size:12px;
    color:#999;
    margin-top:8px;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .back {
    position:fixed;
    right:5%;
    bottom:10%;
    z-index:99;
    display:block;
    width:22px;
    height:27px;
    opacity:0;
    background:url(../images/tb11ir5qfxxxxxdapxxxxxxxxxx-22-27.png) no-repeat;
    -webkit-animation:all .3s ease-in-out;
    animation:all .3s ease-in-out
}
@media (max-width:768px) {
    .wb-zc-lxmod-2017-hzyq-index-about {
    width:100%;
    background-color:#010417;
    border-top:1px solid #3c3c3c;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about a,.wb-zc-lxmod-2017-hzyq-index-about b,.wb-zc-lxmod-2017-hzyq-index-about dd,.wb-zc-lxmod-2017-hzyq-index-about div,.wb-zc-lxmod-2017-hzyq-index-about dl,.wb-zc-lxmod-2017-hzyq-index-about dt,.wb-zc-lxmod-2017-hzyq-index-about em,.wb-zc-lxmod-2017-hzyq-index-about h1,.wb-zc-lxmod-2017-hzyq-index-about h2,.wb-zc-lxmod-2017-hzyq-index-about h3,.wb-zc-lxmod-2017-hzyq-index-about h4,.wb-zc-lxmod-2017-hzyq-index-about h5,.wb-zc-lxmod-2017-hzyq-index-about h6,.wb-zc-lxmod-2017-hzyq-index-about i,.wb-zc-lxmod-2017-hzyq-index-about li,.wb-zc-lxmod-2017-hzyq-index-about p,.wb-zc-lxmod-2017-hzyq-index-about span,.wb-zc-lxmod-2017-hzyq-index-about ul {
    margin:0;
    padding:0
}
.wb-zc-lxmod-2017-hzyq-index-about a {
    text-decoration:none
}
.wb-zc-lxmod-2017-hzyq-index-about li,.wb-zc-lxmod-2017-hzyq-index-about ul {
    list-style:none
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap {
    width:9.33333333rem;
    padding:.4rem 0 .26666667rem;
    margin:0 auto;
    *zoom:1
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap:after,.wb-zc-lxmod-2017-hzyq-index-about .module-wrap:before {
    content:"";
    display:table
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap:after {
    clear:both
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .info {
    margin-bottom:.4rem;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .info h3 {
    height:.4rem;
    line-height:.4rem;
    font-size:.26666667rem;
    color:#e6e7d9;
    font-weight:700;
    padding-right:.4rem;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .info p {
    line-height:.32rem;
    font-size:.18666667rem;
    color:#999;
    padding-right:.4rem;
    margin-top:.08rem;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download {
    margin-bottom:.4rem;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download img {
    float:left;
    display:inline-block;
    width:1.25333333rem;
    height:1.25333333rem
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download .text {
    float:left;
    display:inline-block;
    margin-left:.16rem;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download .text h3 {
    height:.32rem;
    line-height:.32rem;
    font-size:.24rem;
    color:#e6e7d9;
    font-weight:700;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .download .text p {
    line-height:.32rem;
    font-size:.16rem;
    color:#999;
    margin-top:.13333333rem;
    overflow:hidden
}
.wb-zc-lxmod-2017-hzyq-index-about .module-wrap .back {
    display:none
}
}