@font-face {
    font-family:iconfont;
    src:url("//at.alicdn.com/t/font_376588_s5b0017y6n4gqfr.eot?t=1502680253550");
    src:url("//at.alicdn.com/t/font_376588_s5b0017y6n4gqfr.eot?t=1502680253550#iefix") format("embedded-opentype"),url("//at.alicdn.com/t/font_376588_s5b0017y6n4gqfr.woff?t=1502680253550") format("woff"),url("//at.alicdn.com/t/font_376588_s5b0017y6n4gqfr.ttf?t=1502680253550") format("truetype"),url("//at.alicdn.com/t/font_376588_s5b0017y6n4gqfr.svg?t=1502680253550#iconfont") format("svg")
}
.iconfont {
    font-family:iconfont!important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-add:before {
    content:"\E604"
}
.icon-reduce:before {
    content:"\E703"
}
.wb-zc-aliyun-xfmod-yunqi-topbar {
    position:relative;
    position:fixed;
    z-index:99;
    top:0;
    left:0;
    width:100%;
    *zoom:1,
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.40);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
}
.wb-zc-aliyun-xfmod-yunqi-topbar:after,.wb-zc-aliyun-xfmod-yunqi-topbar:before {
    content:"";
    display:table
}
.wb-zc-aliyun-xfmod-yunqi-topbar:after {
    clear:both
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap {
    position:relative;
    box-sizing:border-box;
    padding:12px 70px;
    *zoom:1;
    
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap:after,.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap:before {
    content:"";
    display:table
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap:after {
    clear:both
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap.bg-transparent {
    background-color:transparent!important
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper {
    position:relative;
    height:40px
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-logo {
    line-height:40px;
    position:relative;
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    width:183px;
    padding:0 6px
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-logo img {
    line-height:40px;
    display:inline-block;
    width:100%
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel {
    margin-right:300px;
    margin-left:200px;
    *zoom:1
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel:after,.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel:before {
    content:"";
    display:table
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel:after {
    clear:both
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel .channel-list {
    position:relative;
    float:right;
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel .channel-list .slug {
    position:absolute;
    top:36px;
    overflow:hidden;
    width:0;
    height:1px;
    transition:all .35s ease-in-out;
    border-color:#fff;
    border-bottom:2px solid transparent
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel .channel-list .channel-item {
    font-size:16px;
    line-height:40px;
    position:relative;
    float:left;
    margin:0 20px;
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel .channel-list .channel-item.selected a,.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel .channel-list .channel-item:hover a{
    color:#fe3f3c !important;
}

.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-channel .channel-list .channel-item .channel-link {
    font-weight:700;
    padding:6px 0;
    transition:all .35s ease-in-out;
    color:#000
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.phone {
    display:none
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC {
    position:absolute;
    top:0;
    right:0;
    display:block;
    *zoom:1
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC:after,.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC:before {
    content:"";
    display:table
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC:after {
    clear:both
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button {
    font-size:12px;
    line-height:36px;
    display:block;
    float:right;
    overflow:hidden;
    width:86px;
    height:40px;
    margin-right:20px;
    text-align:center;
    color:#fff;
    border:2px
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button figure:hover div {
    transform:rotateX(-90deg)
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button span.face {
    line-height:36px;
    position:absolute;
    left:0;
    box-sizing:border-box;
    width:100%;
    height:100%;
    text-align:center;
    text-transform:uppercase
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button span.face:first-child {
    -webkit-transform:translateZ(30px);
    transform:translateZ(30px);
    color:#fff
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button span.face:nth-child(2) {
    -webkit-transform:rotateX(90deg) translateZ(30px);
    transform:rotateX(90deg) translateZ(30px);
    color:#094b2c;
    background:#fff
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button figure {
    width:86px;
    height:40px;
    cursor:pointer;
    perspective:10000px;
    -webkit-perspective:10000px
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button figure div {
    height:100%;
    transition:.25s;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button:first-child {
    margin-right:0
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper .yq-right.PC .button.disabled {
    background-color:#999
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner {
    display:none
}

/*轮播图*/

.b-banner{position:relative;}
.b-banner .focus{height:600px;width:100%;z-index:2;position:relative;}
.b-banner .focus .f_pic{width:100%;height:600px;background-repeat:no-repeat;background-position:center 0;-webkit-background-size: auto 100%;
background-size:auto 100%;}
.b-banner .focus .f_pic a{width:100%;height:100%;display:inline-block;}

.b-banner .focus .pagination{bottom:32px;position:absolute;  padding:0 30px;left:0;right:0;text-align: center;}
.b-banner .focus .pagination .toc{display:inline-block;margin:0 3px;width:24px;height:5px;background-color: #707070;cursor: pointer;line-height: 66px;overflow:hidden;}
.b-banner .focus .pagination .selected{background:#f8b551;}
/*倒计时*/
.daoshu{position: absolute;bottom:50px;left: 0;right: 0;margin:auto;z-index: 100;background-color: #fe3f3c;color:#fff;height:50px;line-height: 50px;width:200px;text-align: center;font-size: 12px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);background-color: rgba( 254, 63, 60, 0.9 );
}

.daoshu span{font-size: 16px;color:#000;font-weight: 700;margin:0 5px;}

@media (max-width:768px) {
    .wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap {
    padding:0
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .wrapper {
    display:none
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner {
    display:block;
    width:100%;
    height:1.30666667rem;
    *zoom:1
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner:after,.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner:before {
    content:"";
    display:table
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner:after {
    clear:both
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .logo {
    float:left;
    display:inline-block;
    height:.54666667rem;
    margin-top:.33333333rem;
    margin-left:.42666667rem
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .logo img {
    display:block;
    vertical-align:top;
    height:.54666667rem
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .sign {
    float:right;
    display:inline-block;
    margin-right:.32rem;
    overflow:hidden
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .sign a {
    float:left;
    display:inline-block;
    width:1.70666667rem;
    height:.53333333rem;
    line-height:.53333333rem;
    font-size:.26666667rem;
    color:#fff;
    text-align:center;
    background-color:#fe3f3c;
    margin-top:.33333333rem;
    overflow:hidden
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .sign img {
    float:left;
    display:inline-block;
    height:.45333333rem;
    margin-top:.37333333rem;
    margin-left:.64rem
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main {
    position:absolute;
    right:-5.33333333rem;
    top:0;
    width:5.26666667rem;
    background-color:#000;
    overflow:hidden;
    transition:all .3s ease-in-out
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .close {
    position:absolute;
    top:.42666667rem;
    right:.37333333rem;
    display:block;
    width:.45333333rem;
    height:.44rem;
    background:url(../images/tb1ae8bsfxxxxbcxfxxxxxxxxxx-34-33.png) no-repeat;
    background-size:100% 100%
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .nav {
    height:11.4rem;
    margin-top:1.57333333rem;
    margin-left:.6rem;
    overflow-y:scroll;
    overflow-x:hidden
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .nav li {
    width:4.26666667rem;
    overflow:hidden
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .nav li a {
    display:block;
    font-weight:700;
    overflow:hidden
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .nav li a.page {
    height:1.33333333rem;
    line-height:1.33333333rem;
    font-size:.48rem;
    color:#fff
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .nav li a.page.pc {
    display:none
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .nav li a.sub {
    height:0;
    line-height:1.13333333rem;
    font-size:.37333333rem;
    color:#999;
    margin-left:.48rem;
    transition:all .3s ease-in-out
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .btns {
    margin-top:1rem;
    margin-left:.48rem;
    overflow:hidden
}
.wb-zc-aliyun-xfmod-yunqi-topbar .module-wrap .inner .main .btns a {
    display:block;
    width:3.17333333rem;
    height:1rem;
    line-height:1rem;
    font-size:.32rem;
    color:#fff;
    text-align:center;
    background-color:#4902b3;
    overflow:hidden
}

.daoshu{position: absolute;bottom:50px;left: 0;right: 0;margin:auto;z-index: 100;background-color: #fe3f3c;color:#fff;height:40px;line-height: 40px;width:150px;text-align: center;font-size: 12px;
}
.daoshu span{font-size: 16px;color:#000;font-weight: 700;margin:0 5px;}
}

.content_about,.content_about_r{color:#999;font-size: 12px;padding-left: 200px!important;position:relative;line-height: 24px;}
.content_about_r{padding-right: 200px !important;padding-left: 0 !important;}
.logo_flex{position:absolute;left: 0;top:0;bottom:0;margin:auto;width:200px;}
.content_about_r .logo_flex_r{
    position:absolute;right: 0;top:0;bottom:0;margin:auto;width:200px;
}


