@{
    ViewBag.Title = "MOr官网-联系我们";
}

<section @*class="bg-img3"*@ class="content">
    <div class="subheader-nav">
       <h2 id="ff" class="sub-title text-white">联系我们</h2>
    </div>
    <!--内容 S-->
    <div class="content-marging"> 
        <ul class="contact" data-bind="foreach:data">
            <li><span class="bold">地址：<span data-bind="text:aId"></span></span></li>
            <li><span class="bold">总机电话：<span data-bind="text:title"></span></span></li>
            <li><span class="bold">餐厅电话：<span data-bind="text:aContents"></span></span></li>
           
        </ul>

    </div>
    <!--内容 E-->
</section>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    var viewModel = function () {
        var t = $("#ff");
        console.log(t)
        var self = this;

        self.data = ko.observable();

        self.Load = function () {
            $.post('/API/Site/SendEmail', null, function (result) {
                self.data(result);
            });

            console.log(this)
        }

        self.Load();
    }
    ko.applyBindings(new viewModel());
</script>

