@{
    Layout = "~/Views/Shared/_homeLayout.cshtml";
    ViewBag.Title = "MS2017 全球移动营销峰会";
}

<link rel="stylesheet" href="/static/css/index_1.css" />
<link rel="stylesheet" href="/static/css/meeting.css">

<div class="layout layout-grid-0">
    <!--row -->
    <div class="grid-0">
        <!-- col -->
        <div class="col col-main">
            <div class="main-wrap J_Region">
                <!--module -->
                <div id="guid-788631" class="wb-zc-lxmod-2017-hzyq-agenda J_Module">
                    <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                        <div class="banner" style="height: 156px; background-image:url(/static/images/bg_03.jpg);">
                            <div class="inner">
                                <div class="crumbs dbl-col-lg-24 dbl-col-md-24"></div>
                                <h1 class="dbl-col-lg-24 dbl-col-md-24"></h1>
                            </div>
                        </div>
                        <div class="nav-con" id="nav" style="height: auto;">
                            <div class="nav" style="top: 0px;">
                                <div class="bg"></div>
                                <div class="inner">
                                    <div class="day-choice">
                                        <ul>
                                            <li class="cur">全部议程</li>
                                            <li data-day="day1" class="day1">11月29日</li>
                                            <li data-day="day2" class="day2">11月30日</li>
                                        </ul>
                                    </div>
                                    <div class="theme-choice">
                                        <p class="cur-tip">您正在浏览：<b>全部大会主题</b>相关议程</p>
                                        <!-- <div class="theme-switch">
                                            <span class="switch-btn" id="switch-btn">选择一个主题 <i class="icon-icon-double-arrow-up"></i><i class="icon-icon-double-arrow-down"></i></span>
                                            <div class="theme-list" id="theme-list" style="display: none;">
                                                <dl>
                                                    <dt class="item cur">全部大会主题</dt>
                                                    <dd class="item zlt" data-theme="zlt">品牌专场</dd><dd class="item ztfh" data-theme="ztfh">电商专场</dd><dd class="item sjk" data-theme="sjk">出海专场</dd><dd class="item aq" data-theme="aq">颁奖盛典</dd></dl>
                                                </div>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="meeting" id="meeting" style="min-height: 34px;">
                            <div class="inner clearfix" style="min-height: 34px;">
                                <div class="dbl-col-lg-3 dbl-col-md-3">
                                    <div class="meeting-list" style="height: 688px; position: inherit; top: 0px;border:1px solid #d7d7d7;">
                                        <div class="list" data-id="first">
                                            <p class="zlt day1 detail1101 cur" data-meeting="detail1101">
                                                <a target="_self">29日主论坛</a>
                                            </p>
                                            <p class="ztfh jrkj day1 detail1102" data-meeting="detail1102" style="display: block;"><a target="_self">品牌专场</a></p>
                                            <p class="ztfh jrkj day1 detail1102" data-meeting="detail1103" style="display: block;"><a target="_self">电商专场</a></p>
                                            <p class="ztfh jrkj day1 detail1102" data-meeting="detail1104" style="display: block;"><a target="_self">手游专场</a></p>

                                        </div>
                                        <div class="list" data-id="next" style="display:none;">
                                            <p class="zlt day1 detail01 cur" data-meeting="detail1201"><a target="_self">30日主论坛</a></p>
                                            <p class="ztfh jrkj day1 detail1102" data-meeting="detail1202" style="display: block;"><a target="_self"> 出海专场</a></p>
                                            <p class="ztfh jrkj day1 detail1102" data-meeting="detail1203" style="display: block;"><a target="_self">文娱专场</a></p>
                                            <p class="ztfh jrkj day1 detail1102" data-meeting="detail1204" style="display: block;"><a target="_self">未来专场 </a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dbl-col-lg-21 dbl-col-md-21">
                                    <div class="meeting-detail " data-id="first">
                                        <div class="detail" id="detail1101">
                                            <h5>29日主论坛</h5>
                                            <p class="intro">论坛时间：11月29日上午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">09:15-09:20</span>
                                                    <span class="title">开幕致辞</span>
                                                    <span class="name">曾巧</span>
                                                    <span class="identity">MORKETING 创始人</span>
                                                </li>
                                                <li>
                                                    <span class="time">09:20-09:40</span>
                                                    <span class="title">主题演讲：移动时代的人本营销</span>
                                                    <span class="name">Facebook</span>
                                                </li>
                                                <li>
                                                    <span class="time">09:40-10:00</span>
                                                    <span class="title">主题演讲：社交营销</span><span class="name">腾讯</span>
                                                </li>
                                                <li>
                                                    <span class="time">10:00-10:20</span>
                                                    <span class="title">主题演讲：移动数据技术时代的营销创新</span>
                                                    <span class="name">马厅</span><span class="identity">百威英博电商部门副总裁</span>
                                                </li>
                                                <li>
                                                    <span class="time">10:20-10:40</span><span class="title">主题演讲：移动时代下的新搜索</span><span class="name">谷歌</span>
                                                </li>
                                                <li><span class="time">10:40-11:00</span><span class="title">主题演讲：全域营销</span><span class="name">董本洪  </span><span class="identity">阿里巴巴 CMO</span></li>
                                                <li><span class="time">11:00-12:00</span><span class="title">圆桌讨论：移动时代的现状和未来</span><span class="name">主持人：曾巧 Morketing CEO <br />Google<br />腾讯 <br />Facebook <br />阿里巴巴 <br />百威英博电商部门副总裁 马厅</span></li>

                                            </ul>
                                        </div>
                                        <div class="detail" id="detail1102">
                                            <h5>分会场1:品牌专场（年轻化、个性化、数据化）</h5>
                                            <p class="intro">论坛时间：11月29日下午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">14:00-14:20</span>
                                                    <span class="title">主题演讲：消费升级下的品牌走向</span>
                                                    <span class="name">Gucci/寺库/Jimmy choo/戴森/乐高中国</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:20-14:40</span>
                                                    <span class="title">主题演讲：品牌的年轻化</span>
                                                    <span class="name">优衣库/Adidas/叶明 江小白(品牌总监 /老板电器)</span>

                                                </li>
                                                <li>
                                                    <span class="time">14:40-15:10</span>
                                                    <span class="title">三人行：个性化·年轻化·消费升级</span><span class="name">
                                                        叶丹芃<br />
                                                        黑羽 <br />欧莱雅中国 
                                                    </span>
                                                    <span class="identity">
                                                        老板电器 CMO <br />
                                                        in APP 创始人
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">15:10-15:30</span>
                                                    <span class="title">主题演讲：个性化浪潮下的消费者管理和新营销</span>
                                                    <span class="name">adidas</span>
                                                </li>
                                                <li>
                                                    <span class="time">15:30-16:00</span><span class="title">三人行：2017品牌社交营销和内容营销</span><span class="name">腾讯社交广告<br />Lars Silberbauer 乐高全球资深社交媒体&视频总监<br />百雀羚</span>
                                                </li>
                                                <li><span class="time">16:00-16:20</span><span class="title">主题演讲：网红和KOL</span><span class="name">vivo</span></li>
                                                <li><span class="time">16:20-16:50</span><span class="title">三人行：网红营销和KOL</span><span class="name">微信/微博 <br />咪蒙（网红）/张大奕 <br />一直播/vivo</span></li>
                                                <li><span class="time">16:50-17:10</span><span class="title">主题演讲：品牌数据管理</span><span class="name">宝洁/可口可口可乐</span></li>
                                                <li><span class="time">17:10-17:50</span><span class="title">三人行：大数据时代下的品牌数据资产</span><span class="name">百事中国/宝洁<br />秒针<br />蒙牛</span></li>
                                            </ul>
                                        </div>
                                        <div class="detail" id="detail1103">
                                            <h5>分会场 2:电商专场(未来的增量)</h5>
                                            <p class="intro">论坛时间：11月29日下午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">14:00-14:20</span>
                                                    <span class="title">主题演讲：移动电商的下半场</span>
                                                    <span class="name">阿里/京东</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:20-14:40</span>
                                                    <span class="title">主题演讲：移动电商新战场——社交分享</span>
                                                    <span class="name">小红书</span>

                                                </li>
                                                <li>
                                                    <span class="time">14:40-15:10</span>
                                                    <span class="title">
                                                        三人行：移动电商迎来去中心化的新型营销模式，<br />
                                                        如何做好社交、内容、直播多形式营销
                                                    </span>
                                                    <span class="name">
                                                        刘思齐 今日头条商业产品副总裁（拟邀）<br />
                                                        洋码头<br />一直播/ 什么值得买
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">15:10-15:30</span>
                                                    <span class="title">主题演讲：全棉时代遇到移动电商的品和效</span>
                                                    <span class="name">李健全</span>
                                                    <span class="identity">全棉时代 总裁</span>
                                                </li>
                                                <li>
                                                    <span class="time">15:30-16:00</span><span class="title">三人行：移动电商的品和效</span><span class="name">腾讯OMG<br />广告主<br />AdMaster</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:00-16:20</span><span class="title">AdMaster</span><span class="name">黄向平</span>
                                                    <span class="identity">国美在线 副总裁</span>
                                                </li>
                                                <li><span class="time">16:20-16:50</span><span class="title">三人行：O2O，新零售</span><span class="name">阿里巴巴 <br />百威啤酒<br />玛氏中国</span></li>
                                                <li><span class="time">16:50-17:10</span><span class="title">主题演讲：垂直品类经济</span><span class="name">贝贝网/蜜芽/宝贝格子/盒马生鲜</span></li>
                                                <li><span class="time">17:10-17:50</span><span class="title">三人行：垂直品类的诉求</span><span class="name">每日优品<br />蜜芽网<br />洋码头</span></li>
                                            </ul>
                                        </div>
                                        <div class="detail" id="detail1104">
                                            <h5>分会场 3: 手游专场(红海新生)</h5>
                                            <p class="intro">论坛时间：11月29日下午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">14:00-14:20</span>
                                                    <span class="title">主题演讲：下一款现象级游戏在何方？</span>
                                                    <span class="name">王怡</span>
                                                    <span class="identity">网易游戏副总裁</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:20-14:40</span>
                                                    <span class="title">主题演讲：细分市场下的精细化打法</span>
                                                    <span class="name">张峰</span>
                                                    <span class="identity">BiliBili副总裁</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:40-15:10</span>
                                                    <span class="title">三人行：面对00后新生代的新技术、新玩法、新思维</span>
                                                    <span class="name">
                                                        谭雁峰 <br>胡斌 <br>王信文
                                                    </span>
                                                    <span class="identity">
                                                        盛大游戏副总裁 <br />
                                                        掌趣科技CEO <br />
                                                        莉莉丝游戏CEO
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">15:10-15:30</span>
                                                    <span class="title">主题演讲：以IP为核心的影游联动价值何在？</span>
                                                    <span class="name">廖辉</span>
                                                    <span class="identity">西山居世游VP</span>
                                                </li>
                                                <li>
                                                    <span class="time">15:30-16:00</span><span class="title">三人行：影游联动如何玩转互动营销？</span><span class="name">史仓健 <br />王昊苏  <br />王峰 </span>
                                                    <span class="identity">阿里游戏总裁 <br />爱奇艺副总裁 <br />蓝港互动CEO</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:00-16:20</span><span class="title">主题演讲：电竞+直播营造手游流量新生态 </span><span class="name">吴萌</span>
                                                    <span class="identity">巨人网络副总裁</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:20-16:50</span><span class="title">面对买量市场洗牌，如何提前建立竞争优势？</span><span class="name">唐忆鲁  <br />李博 <br />熊波</span>
                                                    <span class="identity">
                                                        多益网络CEO <br />
                                                        游族网络副总裁 <br />凯撒文化COO
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">16:50-17:10</span><span class="title">主题演讲：面对买量市场洗牌，如何提前建立竞争优势？<br />正确看待手游广告变现</span><span class="name">张菡</span>
                                                    <span class="identity">腾讯社交广告游戏行业负责人/Playrix</span>
                                                </li>
                                                <li>
                                                    <span class="time">17:10-17:50</span><span class="title">三人行：存量市场下如何找量?<br />移动游戏流量变现如何最大化？</span><span class="name">周亚辉<br />徐志高<br />陈道亮<br />黄奔阳</span>
                                                    <span class="identity">
                                                        昆仑万维CEO <br />
                                                        三七手游总裁  <br />焦扬网络副总裁 <br />Vungle中华区总经理/多盟/Google
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">19:00-21:00</span><span class="title">主题：Morketing颁奖盛宴</span><span class="name">嘉宾：定向邀请</span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="meeting-detail" data-id="next">
                                        <div class="detail" id="detail1201">
                                            <h5>30日主论坛: 趋势和创新</h5>
                                            <p class="intro">论坛时间：11月30日上午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">09:15-09:20 </span>
                                                    <span class="title">开幕致辞</span>
                                                    <span class="name">中国广告协会</span>
                                                </li>
                                                <li>
                                                    <span class="time">09:20-09:40</span>
                                                    <span class="title">主题演讲：未来品牌诉求</span>
                                                    <span class="name">宝洁/奥迪/宝马</span>
                                                </li>
                                                <li>
                                                    <span class="time">09:40-10:00</span>
                                                    <span class="title">主题演讲：4A的变革</span>
                                                    <span class="name">WPP</span>
                                                </li>
                                                <li>
                                                    <span class="time">10:00-10:20</span>
                                                    <span class="title">主题演讲：今日头条的信息流和短视频广告</span>
                                                    <span class="name">今日头条</span>
                                                </li>
                                                <li>
                                                    <span class="time">10:20-10:40</span><span class="title">主题演讲：中国制造+的品牌全球化</span><span class="name">康平</span>
                                                    <span class="identity">亚马逊 华南区总经理</span>
                                                </li>
                                                <li>
                                                    <span class="time">10:40-11:00</span><span class="title">主题演讲：一种内容发现正在席卷全球</span><span class="name">Adam Singolda Taboola CEO</span>
                                                </li>
                                                <li>
                                                    <span class="time">11:00-12:00</span><span class="title">圆桌讨论：移动·数据·技术大浪潮下的品牌战略和策略</span><span class="name">主持人：曾巧<br />奥美 <br />今日头条 <br />奥迪 <br />优衣库</span>
                                                    <span class="identity">Morketing CEO</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="detail" id="detail1202">
                                            <h5>分会场 4 :出海专场(生为全球）</h5>
                                            <p class="intro">论坛时间：11月29日下午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">14:00-14:20</span>
                                                    <span class="title">主题演讲：出海时代的竞争战略</span>
                                                    <span class="name">腾讯（王者荣耀）<br />百度<br />阿里巴巴海外负责人<br />Google<br />Facebook</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:20-14:40</span>
                                                    <span class="title">主题演讲：出海新航路</span>
                                                    <span class="name">Appsflyer、AppAnnie、Google</span>

                                                </li>
                                                <li>
                                                    <span class="time">14:40-15:10</span>
                                                    <span class="title">三人行：游戏出海，大小玩家如何使劲？</span><span class="name">
                                                        发行商eFun<br />
                                                        昆仑<br />独立游戏开发者：备选
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">15:10-15:30</span>
                                                    <span class="title">主题演讲：出海变现快、慢，听谁的？</span>
                                                    <span class="name">变现开发者分享：工具类、社交类、游戏</span>
                                                </li>
                                                <li>
                                                    <span class="time">15:30-16:00</span><span class="title">三人行：出海变现的变与不变</span><span class="name">移动出海公司<br />变现平台<br />投资机构</span>
                                                </li>
                                                <li><span class="time">16:00-16:20</span><span class="title">主题演讲：拒绝出海“三分钟热度”</span><span class="name">长期出海开发者：猎豹移动、UC、APUS</span></li>
                                                <li><span class="time">16:20-16:50</span><span class="title">三人行：出海大变身</span><span class="name">live.me <br />topbuzz<br />funplus</span></li>
                                                <li><span class="time">16:50-17:10</span><span class="title">主题演讲：如何成为出海流行品？</span><span class="name">美颜相机 <br />bigolive <br />bigolive <br />小月历</span></li>
                                                <li><span class="time">17:10-17:50</span><span class="title">三人行：寻找下一只出海独角兽</span><span class="name">APUS<br />投资机构<br />创业者</span></li>
                                            </ul>
                                        </div>
                                        <div class="detail" id="detail1203">
                                            <h5>分会场 5: 文娱专场(泛娱乐时代)</h5>
                                            <p class="intro">论坛时间：11月29日下午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">14:00-14:20</span>
                                                    <span class="title">主题演讲：《中国有嘻哈》爆火背后，<br />如何使网生产品商业最大化？</span>
                                                    <span class="name">车澈</span>
                                                    <span class="identity">《中国有嘻哈》总导演 爱奇艺副总裁</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:20-14:40</span>
                                                    <span class="title">主题演讲：《战狼2》是如何一步步创造纪录的？</span>
                                                    <span class="name">宋歌 </span>
                                                    <span class="identity">北京文化董事长</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:40-15:10</span>
                                                    <span class="title">三人行：视频娱乐的消费时代下，如何进行营销升级？</span>
                                                    <span class="name">
                                                        王莹 <br />抖音<br />
                                                        张翼
                                                    </span>
                                                    <span class="identity">
                                                        腾讯视频商业化总经理 <br />
                                                        CEO <br />
                                                        快手 商业产品副总裁
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">15:10-15:30</span>
                                                    <span class="title">主题演讲：达康书记表情包<br />爆红，主旋律剧如何进行娱乐化营销？</span>
                                                    <span class="name">高亚麟 </span>
                                                    <span class="identity">制片人演员</span>
                                                </li>
                                                <li>
                                                    <span class="time">15:30-16:00</span><span class="title">三人行：内容即营销，如何让好的内容开口说话?</span><span class="name">张扬<br />苏北淇<br />天下霸唱 <br />岳云飞</span>
                                                    <span class="identity">《冈仁波齐》导演 <br />《二十二》宣发方 <br />《河神》原著作者<br />百思传媒CEO</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:00-16:20</span><span class="title">主题演讲：大数据如何运用到营销让电影赚钱？</span><span class="name">陈卉</span>
                                                    <span class="identity">百度糯米影业</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:20-16:50</span><span class="title">三人行：限娱令下如何进行娱乐营销的突围？</span><span class="name">王高飞  <br />岳云飞<br />一直播、秒拍</span>
                                                    <span class="identity">百度糯米影业</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:50-17:10</span><span class="title">主题演讲：付费音乐时代，迎来了数字营销的新出路</span><span class="name">彭迦信</span>
                                                    <span class="identity">腾讯音乐CEO</span>
                                                </li>
                                                <li><span class="time">17:10-17:50</span><span class="title">三人行：微信大V如何运营玩转自媒体营销</span><span class="name">超能E姐<br />毒舌<br />乌鸦电影/独立鱼</span></li>
                                            </ul>
                                        </div>
                                        <div class="detail" id="detail1204">
                                            <h5>分会场 6 :未来专场 </h5>
                                            <p class="intro">论坛时间：11月30日下午</p>
                                            <ul>
                                                <li>
                                                    <span class="time">14:00-14:20</span>
                                                    <span class="title">主题演讲：AI与个性化营销</span>
                                                    <span class="name">Ariel  Pisetzky   </span>
                                                    <span class="identity">Taboola信息技术副总裁</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:20-14:40</span>
                                                    <span class="title">主题演讲：AI & 营销自动化</span>
                                                    <span class="name">Richard  Wang  Chinapex  CTO</span>
                                                </li>
                                                <li>
                                                    <span class="time">14:40-15:10</span>
                                                    <span class="title">三人行：语音搜索是下一个营销风口？</span>
                                                    <span class="name">
                                                        科大讯飞 <br>百度 <br>亚马逊
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="time">15:10-15:30</span>
                                                    <span class="title">主题演讲： AR在营销层面的应用</span>
                                                    <span class="name">QQ AR</span>
                                                </li>
                                                <li>
                                                    <span class="time">15:30-16:00</span><span class="title">三人行：AR营销的现状与未来</span><span class="name">美图秀秀 <br />亮风台 <br />王聪 </span>
                                                    <span class="identity"> <br /> <br />魔力数码科技创始人</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:00-16:20</span><span class="title">主题演讲：VR营销还有多远？ </span><span class="name">主题演讲：VR营销还有多远？    HTC</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:20-16:50</span><span class="title">三人行：数据的质与量</span><span class="name">阿里  <br />尼尔森 <br />滴滴</span>
                                                </li>
                                                <li>
                                                    <span class="time">16:50-17:10</span><span class="title">主题演讲：物联网下的多触点营销</span><span class="name">汪志强 </span>
                                                    <span class="identity">Gululu创始人兼CEO</span>
                                                </li>
                                                <li>
                                                    <span class="time">17:10-17:50</span><span class="title">圆桌讨论：新技术的融合与智能化营销</span><span class="name">暴风魔镜<br />美图秀秀<br />科大讯飞<br />江志强 </span>
                                                    <span class="identity">
                                                        <br />
                                                        <br /> <br />Gululu创始人兼CEO
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--module -->
            </div>
        </div>
        <!--col -->
    </div>
    <!-- row -->
</div>
<!-- container -->
<!-- container -->
<div class="layout layout-grid-0">
    <!--row -->
    <div class="grid-0">
        <!-- col -->
        <div class="col col-main">
            <div class="main-wrap J_Region">
                <!--module -->
                <div class="www-aliyun-common-h5-redirect J_Module">
                    <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                    </div>

                </div>
                <!--module -->
            </div>
        </div>
        <!--col -->
    </div>
    <!-- row -->
</div>
<!-- container --> 
 
<!-- page export scripts end -->
<script type="text/javascript">(function (e) { if (!e["_med"]) e["_med"] = {}; var t = e["_med"]; t.cookie = function (e, t, a) { if (t !== undefined) { a = a || {}; if (typeof a.expires === "number") { var o = a.expires, l = a.expires = new Date; l.setTime(+l + o * 864e5) } return document.cookie = [e, "=", String(t), a.expires ? "; expires=" + a.expires.toUTCString() : "", a.path ? "; path=" + a.path : "", a.domain ? "; domain=" + a.domain : "", a.secure ? "; secure" : ""].join("") } var r = e ? undefined : {}; var i = document.cookie ? document.cookie.split("; ") : []; for (var n = 0, s = i.length; n < s; n++) { var b = i[n].split("="); var d = b.shift(); var p = b.join("="); if (e && e === d) { r = p; break } if (!e && p !== undefined) { r[d] = p } } return r }; var a = document; var o = e.devicePixelRatio || 1, l = a.documentElement.clientWidth, r = a.documentElement.clientHeight, i, n, s, b = /initial-scale=([\d\.]+?),/i, d, p; if (a.querySelector) { p = a.querySelector('meta[name="viewport"]'); if (p) { d = b.exec(p.content + ","); if (d) { s = parseFloat(d[1], 10) } } } if (s) { l = l * s; r = r * s } if (screen) { if (Math.abs(screen.width - l * o) < .2 * screen.width) { l = screen.width / o; r = screen.height / o; i = screen.width; n = screen.height } else { l = screen.width; r = screen.height; i = screen.width * o; n = screen.height * o } } else { i = l * o; n = r * o } var m = "createTouch" in a && "ontouchstart" in e ? 1 : 0; var c = ["dw:" + l, "dh:" + r, "pw:" + i, "ph:" + n, "ist:" + m].join("&"); t.cookie("_med", c, { expires: 3650 }) })(window);
</script>

<script type="text/javascript">

    var viewModel = function () {
        var self = this;
         

    }
    ko.applyBindings(new viewModel());
     

</script>



