@{
    ViewBag.Title = "TicketInfo";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MS2017 全球移动营销峰会</title>
    <meta name="spm-id" content="a21cy">
    <meta name="description" content="">
    <meta name="keyword" content="">
    <!-- header block start -->
    <link rel="stylesheet" href="~/static/css/index.css">
    <!--   <script src="~/Scripts/dca75d2aaf3743afa03569fbf74bf3ae.js"></script> -->
    <script src="~/Scripts/mobile.js"></script>
    <style>
        body {
            width: 100% !important;
            max-width: 100% !important;
        }
    </style>
    <script>
        if(!isMobile){
            window.onresize = function(){
            if(window.innerWidth < 768){
                window.isMobile = true;
            }else{
                window.isMobile = false;
            }
            }
        }
    </script>
    <!-- header block end -->
    <!-- styles start -->
    <link rel="stylesheet" href="~/static/css/index_1.css" />
    <link rel="stylesheet" href="~/static/css/common.css" />
    <!-- stlyes end -->
    <!-- page export styles  -->
    <link rel="stylesheet" href="~/static/css/contact.css">
    <!-- inline css start -->
    <style>
        .col-main {
            min-height: 0 !important;
        }

        .wb-zc-aliyun-xfmod-yunqi-topbar {
            z-index: 999 !important;
        }

        .wb-zc-lxmod-2017-hzyq-index-about {
            position: relative;
        }
    </style>
    <!-- inline css end -->
    <!-- page export styles end -->
    <!-- grid style start -->
    <link rel="stylesheet" href="~/static/css/layout-hangye-pc.css" />
    <!-- grid style end  -->
    <!--scripts start -->
    <script src='~/Scripts/index.js'></script>
    <!-- scripts end -->
</head>
<body>
    <!-- body start -->
    <div class="page-layout page-main-content">
        <!-- container -->
        <div class="layout layout-grid-0">
            <!--row -->
            <div class="grid-0">

                <!-- col -->

                <div class="col col-main">
                    <div class="main-wrap J_Region">
                        <!-- region -->
                        <div class="J_Region_Container" data-region-path="/markets/aliyun/yunqi_topic/hztopbar_index-pc" data-region-id="159684" data-guid="831223">
                            <!-- exported styles -->=
                            <link rel="stylesheet" type="text/css" href="~/static/css/index.css" />
                            <!--region -->
                            <div id="header" class="wb-zc-aliyun-xfmod-yunqi-topbar J_Module">
                                <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap dbl-col-md-24" style="background-color: #010417">
                                    <div class="wrapper">
                                        <a href="" class="yq-logo">
                                            <img src="~/static/images/logo_01.png">
                                        </a>
                                        <div class="yq-channel">
                                            <ul class="channel-list">
                                                <li class="channel-item selected">
                                                    <a data-app-ignore="true" href="index.html" class="channel-link" style="color: #fff;">首页</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="meeting.html" class="channel-link" style="color: #fff;">议程</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="ceremony.html" class="channel-link" style="color: #fff;">颁奖典礼</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="partner.html" class="channel-link" style="color: #fff;">合作伙伴</a>
                                                </li>
                                                <li class="channel-item">
                                                    <a data-app-ignore="true" href="review.html" class="channel-link" style="color: #fff;">往届回顾</a>
                                                </li>
                                                <li class="channel-item pc">
                                                    <a data-app-ignore="true" href="contact-us.html" class="channel-link" style="color: #fff;">联系我们</a>
                                                </li>
                                                <li class="slug" style="border-color: #fff;"></li>
                                            </ul>
                                        </div>
                                        <div class="yq-right PC">

                                            <a href="" class="button ">
                                                <figure>
                                                    <div>
                                                        <span class="face" style="background-color: ;color: #fff;border: 2px solid #33ace6">ENGLISH</span>
                                                        <span class="face" style="background-color: #33ace6;color: #fff;border: 2px solid #33ace6">ENGLISH</span>
                                                    </div>
                                                </figure>
                                            </a>

                                            <a href="" class="button ">
                                                <figure>
                                                    <div>
                                                        <span class="face" style="background-color: ;color: #fff;border: 2px solid #fe3f3c">我的票务</span>
                                                        <span class="face" style="background-color: #fe3f3c;color: #fff;border: 2px solid #fe3f3c">我的票务</span>
                                                    </div>
                                                </figure>
                                            </a>

                                            <a href="ticket.html" class="button ">
                                                <figure>
                                                    <div>
                                                        <span class="face" style="background-color: ;color: #fff;border: 2px solid #fe3f3c">立即抢票</span>
                                                        <span class="face" style="background-color: #fe3f3c;color: #fff;border: 2px solid #fe3f3c">立即抢票</span>
                                                    </div>
                                                </figure>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="inner">
                                        <a href="index.html" class="logo">
                                            <img src="~/static/images/logo_01.png">
                                        </a>
                                        <div class="sign">
                                            <a href="ticket.html" target="_self" style="background-color: #fe3f3c;color: #fff;">立即抢票</a>
                                            <img class="open" src="~/static/images/iconlei.png">
                                        </div>
                                        <div class="main">
                                            <span class="close"></span>
                                            <ul class="nav">

                                                <li>
                                                    <a href="index.html" target="_blank" class="page">首页</a>

                                                </li>

                                                <li>
                                                    <a href="meeting.html" target="_blank" class="page">议程</a>

                                                </li>

                                                <li>
                                                    <a href="ceremony.html" target="_blank" class="page">颁奖典礼</a>

                                                </li>

                                                <li>
                                                    <a href="partner.html" target="_blank" class="page">合作伙伴</a>

                                                </li>

                                                <li>
                                                    <a href="review.html" target="_blank" class="page">往届回顾</a>

                                                </li>



                                                <li>
                                                    <a href="contact-us.html" target="_blank" class="page pc">联系我们</a>

                                                </li>

                                            </ul>
                                            <div class="btns">


                                                <a href="#" target="_self" style="display: none;">ENGLISH</a>



                                                <a href="#" target="_self">我的票务</a>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--region -->
                            <!-- exported scripts -->
                            <script src="~/Scripts/d7e4480d19514c61aa1382ae56741021.js"></script>


                        </div>
                        <!-- region -->



                    </div>

                </div>
                <!--col -->

            </div>
            <!-- row -->
        </div>
        <!-- container -->
        <div class="layout layout-grid-0">
            <!--row -->
            <div class="grid-0">
                <!-- col -->
                <div class="col col-main">
                    <div class="main-wrap J_Region">
                        <!--module -->
                        <div class="wb-zc-lxmod-2017-hzyq-partner-mod1 J_Module">
                            <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap bg_img">
                                <div class="contact">
                                    <h3 class="title_h3">联系我们</h3>
                                    <div class="address">
                                        <div class="tab">
                                            <div class="address_in clearfix">
                                                <ul class="clearfix">
                                                    <li>
                                                        <dl>
                                                            <dt><span class="icon_adress"></span>峰会合作</dt>
                                                            <dd><b><em>+</em> 姓名：</b>Ivy</dd>
                                                            <dd><b><em>+</em> 电话：</b>18600534627</dd>
                                                            <dd><b><em>+</em> 邮件：</b>zengqiao@morketing.com</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                                <div class="address_er">
                                                    <img src="~/static/images/len.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address ">
                                        <div class="tab">
                                            <div class="address_in">
                                                <ul class="clearfix">
                                                    <li>
                                                        <dl>
                                                            <dt><span class="icon_adress"></span>赞助/演讲/展商合作</dt>
                                                            <dd><b><em>+</em> 姓名：</b>Ivy</dd>
                                                            <dd><b><em>+</em> 电话：</b>18600534627</dd>
                                                            <dd><b><em>+</em> 邮件：</b>zengqiao@morketing.com</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                                <div class="address_er">
                                                    <img src="~/static/images/len.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address">
                                        <div class="tab">
                                            <div class="address_in">
                                                <ul class="clearfix">
                                                    <li>
                                                        <dl>
                                                            <dt><span class="icon_adress"></span>媒体合作</dt>
                                                            <dd><b><em>+</em> 姓名：</b>Len</dd>
                                                            <dd><b><em>+</em> 电话：</b>18832625101</dd>
                                                            <dd><b><em>+</em> 邮件：</b>xiyunfeng@morketing.com</dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                                <div class="address_er">
                                                    <img src="~/static/images/len.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--module -->
                    </div>
                </div>
                <!--col -->
            </div>
            <!-- row -->
        </div>
    </div>

</body>
</html>
