@{
    Layout = "~/Views/Shared/_homeLayout.cshtml";
    ViewBag.Title = "MS2017 全球移动营销峰会";
}


<!-- container 轮播图-->
<div class="layout layout-grid-0">
    <!--row -->
    <div class="grid-0">
        <!-- col -->
        <div class="col col-main">
            <div class="main-wrap J_Region">
                <!--module -->
                <div data-spm="799676" data-moduleid="0" data-name="wb-zc-lxmod-2017-hzyq-index-banner-new" data-guid="799676" id="guid-799676" data-scene-id="944473" data-scene-version="0" data-hidden="" data-gitgroup="ali-mod" data-ext="" data-engine="tce" class="wb-zc-lxmod-2017-hzyq-index-banner-new J_Module" tms="wb-zc-lxmod-2017-hzyq-index-banner-new/0.0.3" tms-datakey="tce/944473">
                    <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                        <div class="b-banner">
                            <div class="focus">
                                <div id="focusPic" class="sliderwrapper">
                                    <div class="contentdiv" style="display:block;">
                                        <div class="f_pic" style="background-image:url(/static/images/banner1.png);"><a href="#" target="_blank"></a></div>
                                    </div>
                                    <div class="contentdiv" style="display:block;">
                                        <div class="f_pic" style="background-image:url(/static/images/banner2.png);"><a href="#"></a></div>
                                    </div>
                                    <div class="contentdiv" style="display:block;">
                                        <div class="f_pic" style="background-image:url(/static/images/banner3.png);"><a href="#"></a></div>
                                    </div>
                                </div>
                                <div id="paginate-focusPic" class="pagination">
                                    <i class="toc selected"></i>
                                    <i class="toc"></i>
                                    <i class="toc"></i>
                                </div>
                            </div>
                            <div class="daoshu">
                                <span id="rfDay">0</span>天<span id="rfHH">0</span>时<span id="rfMM">0</span>分<span id="rfSS">0</span>秒
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--module -->
                </div>

            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <!-- container 演讲嘉宾-->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">
            <!-- col -->
            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!--module -->

                    <div class="wb-zc-lxmod-2017-hzyq-index-speaker J_Module">
                        <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">

                            <div class="title">
                                <h3>SPEAKERS</h3>
                                <p>上届演讲嘉宾（排名不分先后）</p>
                            </div>
                            <ul class="list">
                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <div class="img_bg">
                                        <p></p>
                                        <img src="/static/picture/main/01_278_400.jpg">
                                    </div>
                                    <p class="text">
                                        <span class="name">边嘉耕 </span>
                                        <span class="identity">多盟COO</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/02_278_400.jpg">

                                    <p class="text">
                                        <span class="name">Phil Mattia </span>
                                        <span class="identity">马思成</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/03_278_400.jpg">

                                    <p class="text">
                                        <span class="name">潘飞</span>
                                        <span class="identity">蓝色光标传播集团移动互联(首席执行官)</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/04_278_400.jpg">

                                    <p class="text">
                                        <span class="name">谢鹏</span>
                                        <span class="identity">品友互动(联合创始人&COO)</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/05_278_400.jpg">

                                    <p class="text">
                                        <span class="name">洪力舟 </span>
                                        <span class="identity">微博商业战略(国际拓展总经理)</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/06_278_400.jpg">

                                    <p class="text">
                                        <span class="name">邓广梼 </span>
                                        <span class="identity">互动通控股集团总裁</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/07_278_400.jpg">

                                    <p class="text">
                                        <span class="name">曾巧</span>
                                        <span class="identity">Morketing创始人</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/08_278_400.jpg">

                                    <p class="text">
                                        <span class="name">王洪浩</span>
                                        <span class="identity">58集团(内容运营中心 副总裁)</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/09_278_400.png">

                                    <p class="text">
                                        <span class="name">余俊德 </span>
                                        <span class="identity">App Annie亚太区董事总经理</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/10_278_400.jpg">

                                    <p class="text">
                                        <span class="name">黑羽</span>
                                        <span class="identity"></span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/11_278_400.jpg">

                                    <p class="text">
                                        <span class="name">李倩</span>
                                        <span class="identity">青山资本(副总裁)</span>
                                    </p>
                                </li>

                                <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-8 dbl-col-xs-8">
                                    <img src="/static/picture/main/12_278_400.jpg">

                                    <p class="text">
                                        <span class="name">Vishal Bali </span>
                                        <span class="identity">尼尔森中国区总经理</span>
                                    </p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--module -->



                </div>
            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <!-- container 主论坛议程-->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">
            <!-- col -->
            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!--module -->
                    <div class="wb-zc-lxmod-2017-hzyq-index-agenda J_Module">
                        <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                            <div class="title">
                                <h3>AGENDA</h3>
                                <p>主论坛议程 </p>
                            </div>
                            <div class="container">
                                <div class="agenda1">
                                    <div class="dbl-col-lg-12 dbl-col-md-12 dbl-col-sm-24 dbl-col-xs-24">
                                        <div class="date">
                                            <span class="bg"></span>
                                            <span class="txt">11.29</span>
                                        </div>
                                        <ul class="list">

                                            <li>
                                                <div class="time">09:15-09:20</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>开幕致辞</h6>
                                                    <p class="person">曾巧 MORKETING 创始人</p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">09:20-09:40</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：移动时代的人本营销</h6>

                                                    <p class="person">Facebook</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">09:40-10:00</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：社交营销</h6>

                                                    <p class="person">腾讯</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">10:00-10:20</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：移动数据技术时代的营销创新</h6>

                                                    <p class="person">马厅 百威英博电商部门副总裁</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">10:20-10:40</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：移动时代下的新搜索</h6>

                                                    <p class="person">谷歌</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">10:40-11:00</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：全域营销</h6>

                                                    <p class="person">董本洪 阿里巴巴 CMO </p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">11:00-12:00</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>圆桌讨论：移动时代的现状和未来</h6>

                                                    <p class="person">主持人：曾巧 Morketing CEO,Google,腾讯,Facebook,阿里巴巴,百威英博电商部门副总裁 马厅</p>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="dbl-col-lg-12 dbl-col-md-12 dbl-col-sm-24 dbl-col-xs-24">
                                        <div class="date">
                                            <span class="bg"></span>
                                            <span class="txt">11.30</span>
                                        </div>
                                        <ul class="list">

                                            <li>
                                                <div class="time">09:15-09:20</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>开幕致辞</h6>

                                                    <p class="person">中国广告协会</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">09:20-09:40</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：未来品牌诉求</h6>

                                                    <p class="person">宝洁/奥迪/宝马</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">09:40-10:00</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：4A的变革</h6>

                                                    <p class="person">WPP</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">10:00-10:20</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：今日头条的信息流和短视频广告</h6>

                                                    <p class="person">今日头条</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">10:20-10:40</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：中国制造+的品牌全球化</h6>

                                                    <p class="person">康平 亚马逊 华南区总经理</p>

                                                </div>
                                            </li>

                                            <li>
                                                <div class="time">10:40-11:00</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>主题演讲：一种内容发现正在席卷全球</h6>

                                                    <p class="person">Adam Singolda Taboola CEO</p>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="time">11:00-12:00</div>
                                                <div class="line"></div>
                                                <div class="info">
                                                    <h6>圆桌讨论：移动·数据·技术大浪潮下的品牌战略和策</h6>

                                                    <p class="person">主持人：曾巧 Morketing CEO ,奥美,今日头条,奥迪,优衣库</p>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="agenda2">

                                    <div class="subTit">
                                        <h5><span class="time">下午场</span><span class="txt">分会场1</span></h5>
                                    </div>
                                    <ul class="list">
                                        <li class="dbl-col-lg-12 dbl-col-md-12 dbl-col-sm-24 dbl-col-xs-24">


                                            <div class="item">
                                                <div class="time">14:00-14:20</div>
                                                <div class="info">
                                                    <h6>主题演讲：消费升级下的品牌走向</h6>

                                                    <p class="person">Gucci/寺库/Jimmy choo/戴森/乐高中国</p>

                                                </div>
                                            </div>



                                            <div class="item">
                                                <div class="time">14:20-14:40</div>
                                                <div class="info">
                                                    <h6>主题演讲：品牌的年轻化</h6>

                                                    <p class="person">优衣库/Adidas/叶明 江小白 品牌总监 /老板电器</p>

                                                </div>
                                            </div>



                                            <div class="item">
                                                <div class="time">14:40-15:10</div>
                                                <div class="info">
                                                    <h6>三人行：个性化·年轻化·消费升级</h6>

                                                    <p class="person">叶丹芃 老板电器 CMO,叶丹芃 老板电器 CMO,欧莱雅中国 </p>

                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">15:10-15:30</div>
                                                <div class="info">
                                                    <h6>主题演讲：个性化浪潮下的消费者管理和新营销</h6>
                                                    <p class="person">adidas</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">15:30-16:00</div>
                                                <div class="info">
                                                    <h6>三人行：2017品牌社交营销和内容营销</h6>
                                                    <p class="person">腾讯社交广告,腾讯社交广告,百雀羚</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">16:00-16:20</div>
                                                <div class="info">
                                                    <h6>主题演讲：网红和KOL</h6>
                                                    <p class="person">vivo</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">16:20-16:50</div>
                                                <div class="info">
                                                    <h6>三人行：网红营销和KOL</h6>
                                                    <p class="person">微信/微博,咪蒙（网红）/张大奕</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">16:20-16:50</div>
                                                <div class="info">
                                                    <h6>三人行：网红营销和KOL</h6>
                                                    <p class="person">微信/微博,咪蒙（网红）/张大奕,一直播/vivo</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">16:50-17:10</div>
                                                <div class="info">
                                                    <h6>主题演讲：品牌数据管理</h6>
                                                    <p class="person">宝洁/可口可口可乐</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">17:10-17:50</div>
                                                <div class="info">
                                                    <h6>三人行：大数据时代下的品牌数据资产</h6>
                                                    <p class="person">百事中国/宝洁</p>
                                                </div>
                                            </div>s
                                        </li>
                                        <li class="dbl-col-lg-12 dbl-col-md-12 dbl-col-sm-24 dbl-col-xs-24">
                                            <div class="item">
                                                <div class="time">14:00-14:20</div>
                                                <div class="info">
                                                    <h6>主题演讲：出海时代的竞争战略</h6>
                                                    <p class="person">腾讯（王者荣耀）、百度、阿里巴巴海外负责人、Google、Facebook</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">14:20-14:40</div>
                                                <div class="info">
                                                    <h6>主题演讲：出海新航路</h6>

                                                    <p class="person">Appsflyer、AppAnnie、Google</p>

                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">14:40-15:10</div>
                                                <div class="info">
                                                    <h6>三人行：游戏出海，大小玩家如何使劲？</h6>

                                                    <p class="person">发行商eFun,昆仑,独立游戏开发者：备选</p>

                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">15:10-15:30</div>
                                                <div class="info">
                                                    <h6>主题演讲：出海变现快、慢，听谁的？</h6>

                                                    <p class="person">变现开发者分享：工具类、社交类、游戏</p>

                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">15:30-16:00</div>
                                                <div class="info">
                                                    <h6>三人行：出海变现的变与不变</h6>

                                                    <p class="person">移动出海公司,变现平台,投资机构</p>

                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">16:00-16:20</div>
                                                <div class="info">
                                                    <h6>主题演讲：拒绝出海“三分钟热度”</h6>

                                                    <p class="person">长期出海开发者：猎豹移动、UC、APUS</p>

                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">16:20-16:50 </div>
                                                <div class="info">
                                                    <h6>三人行：出海大变身</h6>

                                                    <p class="person">live.me,topbuzz,funplus</p>

                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">16:50-17:10</div>
                                                <div class="info">
                                                    <h6>主题演讲：如何成为出海流行品？</h6>
                                                    <p class="person">美颜相机、bigolive、joox music、小月历</p>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="time">17:10-17:50</div>
                                                <div class="info">
                                                    <h6>三人行：寻找下一只出海独角兽</h6>
                                                    <p class="person">APUS,投资机构,创业者</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a href="meeting.html" class="viewmore">VIEWMORE &gt;&gt; </a>
                            </div>
                        </div>
                    </div>
                    <!--module -->
                </div>
            </div>
            <!--col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <!-- container 同期活动-->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">
            <!-- col -->
            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!--module -->
                    <div class="wb-zc-lxmod-2017-hzyq-index-events J_Module">
                        <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                            <div class="title">
                                <h3>EVENTS</h3>
                                <p>同期活动</p>
                            </div>
                            <ul class="list">

                                <li class="odd">
                                    <img src="/static/images/wanyan.jpg">
                                    <div class="title">
                                        <span class="tit"><i></i>欢迎晚宴</span>
                                        <span class="en">VIP</span>
                                    </div>
                                    <div class="text">
                                        <p class="tit">VIP欢迎晚宴</p>
                                        <div class="txt">

                                            <p>峰会前一晚，</p>

                                            <p>邀请国内外行业领袖汇聚帝都，</p>

                                            <p>共赴MS2017 VIP欢迎晚宴，</p>

                                            <p>最轻松的方式、最自在的环境、</p>

                                            <p>最高效的沟通、最重磅的阵容。</p>

                                            <p>最高效的沟通、最重磅的阵容。</p>
                                            <p>提前拉开MS2017的精彩序幕。</p>
                                            <p><a href="" target="_blank"><font color="#fe3f3c">了解详情></font></a></p>

                                        </div>
                                    </div>
                                </li>

                                <li class="even">
                                    <img src="/static/images/gaoduan.jpg">
                                    <div class="title">
                                        <span class="tit"><i></i>移动营销盛典</span>
                                        <span class="en">MS2017</span>
                                    </div>
                                    <div class="text">
                                        <p class="tit">MS2017移动营销盛典</p>
                                        <div class="txt">

                                            <p>球移动营销第一媒体平台Morketing</p>
                                            <p>基于自身三年的行业观察，</p>
                                            <p>携手行业大咖共同颁发</p>
                                            <p>“年度优秀案例”在内的66个奖项，</p>
                                            <p>表彰行业优秀企业及个人，</p>
                                            <p>并举办移动营销行业首场盛典。</p>
                                            <p><a href="" target="_blank"><font color="#fe3f3c">了解详情></font></a></p>

                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--module -->
                </div>
            </div>
            <!--col -->

        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <!-- container赞助商 -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">
            <!-- col -->
            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!--module -->
                    <div class="wb-zc-lxmod-2017-hzyq-index-sponsor-new J_Module">
                        <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                            <div class="title">
                                <h3>SPONSOR</h3>
                                <p>赞助商</p>
                            </div>
                            <div class="partner">

                                <div class="item item1">
                                    <h6>钻石合作伙伴</h6>
                                    <ul>

                                        <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-6 dbl-col-xs-8">
                                            <div class="con">
                                                <span></span>
                                                <img src="/static/picture/tb1kbu1bwmpmejjy1xbxxcwxvxa-133-86.png">
                                            </div>
                                        </li>
                                        <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-6 dbl-col-xs-8">
                                            <div class="con">
                                                <span></span>
                                                <img src="/static/picture/tb1kbu1bwmpmejjy1xbxxcwxvxa-133-86.png">
                                            </div>
                                        </li>
                                        <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-6 dbl-col-xs-8">
                                            <div class="con">
                                                <span></span>
                                                <img src="/static/picture/tb1kbu1bwmpmejjy1xbxxcwxvxa-133-86.png">
                                            </div>
                                        </li>

                                    </ul>
                                    <h6>黄金合作伙伴</h6>
                                    <ul>

                                        <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-6 dbl-col-xs-8">
                                            <div class="con">
                                                <span></span>
                                                <img src="/static/picture/tb1kbu1bwmpmejjy1xbxxcwxvxa-133-86.png">
                                            </div>
                                        </li>

                                    </ul>
                                    <h6>金牌合作伙伴</h6>
                                    <ul>

                                        <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-6 dbl-col-xs-8">
                                            <div class="con">
                                                <span></span>
                                                <img src="/static/picture/tb1kbu1bwmpmejjy1xbxxcwxvxa-133-86.png">
                                            </div>
                                        </li>

                                    </ul>
                                    <h6>官方合作伙伴</h6>
                                    <ul>

                                        <li class="dbl-col-lg-4 dbl-col-md-6 dbl-col-sm-6 dbl-col-xs-8">
                                            <div class="con">
                                                <span></span>
                                                <img src="/static/picture/tb1kbu1bwmpmejjy1xbxxcwxvxa-133-86.png">
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--module -->
                </div>
            </div>
            <!--col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <!-- container 门票-->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">
            <!-- col -->
            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!--module -->
                    <div class="wb-zc-lxmod-2017-hzyq-index-ticket-new J_Module">
                        <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                            <div class="inner">
                                <div class="circle">

                                </div>
                                <div class="title">
                                    <h3>TICKETS</h3>
                                    <p>参会门票一览</p>

                                    <!-- <a href="#" target="_blank">5张及以上，总价9折；10张及以上，总价8折</a> -->

                                </div>
                                <div class="tickets">
                                    <div class="info">

                                        <div class="item dbl-col-xs-12 dbl-col-sm-12 dbl-col-md-12 dbl-col-lg-8 even">
                                            <p class="tit">VIP票</p>
                                            <p class="price"><span>888元</span><em class="opr"></em></p>
                                            <div class="container">

                                                <p class="text">可参与2天所有主会场、分会场及专场</p>
                                                <p class="text">可参与所有展区互动</p>
                                                <p class="text">可参加欢迎晚宴、移动营销盛典</p>
                                            </div>
                                            <!-- <p class="yh"><b></b> 席位有限  报名从速</p> -->
                                        </div>

                                        <div class="item dbl-col-xs-12 dbl-col-sm-12 dbl-col-md-12 dbl-col-lg-8 odd">
                                            <p class="tit">金牌门票 <img src="/static/picture/tb13vigsxxxxxxuxpxxxxxxxxxx-44-20.png"></p>
                                            <p class="price"><span>388元</span><em class="opr"></em></p>
                                            <div class="container">

                                                <p class="text">可参与2天所有主会场、分会场及专场</p>
                                                <p class="text">可参与所有展区互动</p>
                                                <p class="text">可参加移动营销盛典</p>

                                            </div>
                                            <!-- <p class="yh"><b></b> 席位有限  报名从速</p> -->
                                        </div>

                                        <div class="item dbl-col-xs-12 dbl-col-sm-12 dbl-col-md-12 dbl-col-lg-8 even">
                                            <p class="tit">银牌门票</p>
                                            <p class="price"><span>188元</span><em class="opr"></em></p>
                                            <div class="container">

                                                <p class="text">可参与2天所有主会场、分会场及专场</p>

                                                <p class="text">可参与所有展区互动</p>

                                            </div>
                                            <!-- <p class="yh"><b></b> 已售罄</p> -->
                                        </div>

                                        <div class="item dbl-col-xs-12 dbl-col-sm-12 dbl-col-md-12 dbl-col-lg-8 odd">
                                            <p class="tit">专场门票</p>
                                            <p class="price"><span>128元</span><em class="opr"></em></p>
                                            <div class="container">

                                                <p class="text">可参与2天所有分会场及专场</p>

                                                <p class="text">可参与所有展区互动</p>

                                            </div>
                                            <!-- <p class="yh"><b></b> 已售罄</p> -->
                                        </div>


                                    </div>
                                </div>
                                <div class="bottom">
                                    <!-- <p class="surplus" data-yend="2017" data-mend="9" data-dend="1"><span id="time"></span> 后优惠截止</p> -->


                                    <a href="ticket.html" target="_blank" class="buy">抢购门票</a>

                                    <!--
                                    <a href="#" target="_blank" class="discount"><img src="/static/picture/tb15grtqfxxxxbaaxxxxxxxxxxx-15-18.png"> 5张及以上，总价9折；10张及以上，总价8折</a> -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--module -->
                </div>

            </div>
            <!--col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <!-- container -->
    <!-- container 会议地址 -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">
            <!-- col -->
            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!--module -->
                    <div data-spm="725966" data-moduleid="0" data-name="wb-zc-lxmod-2017-hzyq-index-address" data-guid="725966" id="guid-725966" data-scene-id="854590" data-scene-version="0" data-hidden="" data-gitgroup="ali-mod" data-ext="" data-engine="tce" class="wb-zc-lxmod-2017-hzyq-index-address J_Module" tms="wb-zc-lxmod-2017-hzyq-index-address/0.0.7" tms-datakey="tce/854590">
                        <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                            <div class="title">
                                <h3>ADDRESS</h3>
                                <p>会议地址</p>
                            </div>
                            <div class="map">
                                <div class="img dbl-col-xs-24 dbl-col-sm-24 dbl-col-md-24 dbl-col-lg-12 dbl-col-xl-12">
                                    <div class="area">
                                        <img src="" class="mbg">
                                        <img src="" class="spot">
                                    </div>
                                </div>
                                <div class="dbl-col-lg-1 dbl-col-xl-1">&nbsp;</div>
                                <div class="address dbl-col-xs-24 dbl-col-sm-24 dbl-col-md-24 dbl-col-lg-11 dbl-col-xl-11">
                                    <p><img src=""> 会场地址：国贸</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--module -->



                </div>

            </div>
            <!--col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <!-- container 关于我们 -->
    <div class="layout layout-grid-0">
        <!--row -->
        <div class="grid-0">
            <!-- col -->
            <div class="col col-main">
                <div class="main-wrap J_Region">
                    <!--module -->
                    <div data-spm="820100" data-moduleid="0" data-name="wb-zc-lxmod-2017-hzyq-index-about-aliyun" data-guid="820100" id="guid-820100" data-scene-id="967894" data-scene-version="0" data-hidden="" data-gitgroup="ali-mod" data-ext="" data-engine="tce" class="wb-zc-lxmod-2017-hzyq-index-about-aliyun J_Module" tms="wb-zc-lxmod-2017-hzyq-index-about-aliyun/0.0.1" tms-datakey="tce/967894">
                        <div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">

                            <div class="title">
                                <h3>ABOUT</h3>
                                <p>关于主办方MORKETING</p>
                            </div>
                            <div class="content_about">
                                <img src="/static/images/logo_01.png" class="logo_flex">
                                <p>
                                    Morketing，全球移动互联网营销圈第一媒体平台。创意源于Mobile Marketing，O从Mobile逐步包含Global及更多寓意。在移动互联网和数据技术冲击下，营销世界正在发生着前所未有的改变，离这些变化最近的正是Morketing。
                                </p>
                                <p>
                                    从2014年创办至今，Morketing从单一媒体发展成一个营销人的服务平台。目前，Morketing产品包括内容报道、线下活动、研究分析、数据库、线上论坛、视频教程以及行业服务等。
                                </p>
                                <p>Morketing愿景：<b style="color:#fe3f3c;">营销连接商业世界</b></p>

                            </div>
                            <div class="title">
                                <p>关于Morketing Summit</p>
                            </div>
                            <div class="content_about_r">
                                <img src="/static/images/logo_01.png" class="logo_flex_r">
                                <p>
                                    MS全球移动营销峰会，系全球移动互联网&营销媒体平台Morketing旗下活动品牌Morketing Summit，延承Morketing大愿景“营销连接商业世界”，从营销视角覆盖品牌、游戏、应用、数据、技术、电商和出海等多板块。于2016年12月6日，Morkerting Summit 2016，以“千亿级移动营销市场”为主题的全球移动营销峰会成功举办。
                                </p>
                                <p>未来，Morketing Summit 系列活动，垂直产业专题活动将持续进行，多行业覆盖年度活动于每年11月底或者12月初定期举办。Morketing通过线下活动，连接商业世界。</p>
                            </div>
                        </div>
                    </div>
                    <!--module -->
                </div>
            </div>
            <!--col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<script src='/static/js/index.js'></script>

<script type="text/javascript">

        var viewModel = function () {
            var self = this;

            // 倒计时
            var ShowCountDown = function (year, month, day, HH, MM, SS) {
                var endDate = new Date(year, month - 1, day - 1, HH, MM, SS);

                var totalSecs = (endDate - new Date()) / 1000;
                var dd = Math.floor(totalSecs / 3600 / 24);//计算剩余的天数
                var hh = Math.floor((totalSecs - dd * 24 * 3600) / 3600);  //计算剩余的小时数
                var mm = Math.floor((totalSecs - dd * 24 * 3600 - hh * 3600) / 60);//计算剩余的分钟数
                var ss = Math.floor((totalSecs - dd * 24 * 3600 - hh * 3600 - mm * 60))//计算剩余的秒数
                if (dd < 0) {
                    dd = 0;
                }
                $("#rfDay").text(checkTime(dd));
                $("#rfHH").text(checkTime(hh));
                $("#rfMM").text(checkTime(mm));
                $("#rfSS").text(checkTime(ss));
            }
            var checkTime = function (i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }


            //轮播图
            featuredcontentslider.init({
                id: "focusPic",
                contentsource: ["inline", ""],
                toc: "#increment",
                nextprev: ["", ""],
                revealtype: "mouseover",
                enablefade: [true, 0.15],
                autorotate: [true, 5000],
                delay: 150,
                onChange: function (previndex, curindex) { }
            });

            // 开始计数时间
            window.setInterval(function () { ShowCountDown(2017, 10, 20, 12, 00, 00); }, 1000);

        }
        ko.applyBindings(new viewModel()); 
</script>
